<p id="notice"><%= notice %></p>

<p>
  <b>Published:</b>
  <%= @blog.published %>
</p>

<p>
  <b>Author:</b>
  <%= @blog.author %>
</p>

<p>
  <b>Content:</b>
  <%= @blog.content %>
</p>

<p>
  <b>Title:</b>
  <%= @blog.title %>
</p>


<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
