<!DOCTYPE html>
<html>
<header>
  <title>HomeFlare - The simplest way to Search, Share and Show listings.</title>
  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js' %>
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js' %>
  <%= stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Istok+Web:400,400italic,700|Lato:400,300,700", "application", :media => "all" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</header>
<body>
  <%= render 'shared/header' %>
  <%= content_for?(:content) ? yield(:content) : yield %>
  <%= render 'shared/footer' %>
</body>
</html>