<!DOCTYPE html>
<html>
<header>
  <title>HomeFlare - The simplest way to Search, Share and Show listings.</title>
  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js' %>
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js' %>
  <%= stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Istok+Web:400,400italic,700|Lato:400,300,700", "application", :media => "all" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</header>
<body>

<%= render 'shared/header' %>



<!--<%= yield %> -->

  <div class="nav_icons">
    <div class="searchCont">
      <i class="icon-search"></i>
    </div>
    <div class="shareCont">
      <i class=""></i>
    </div>
    <div class="showCont">
    </div>
  </div>

<div class="intro_wrapper">

  <a name="top"> </a>

  <div class="pop_out">

  </div>

  <div class="call_to_action_wrapper">

    

    <div class="container">
      <div class="row-fluid">
        <div class="span12">
          <div class="span3">
            <div class="realtor"></div>
          </div>
          <div class="span6">
            <h2>The Simplest Way</br><span class="h2_override">to Search, Share, and Show</span></h2>
            <h3>HomeFlare is a real-time communication tool</br> for Realtors and Home Buyers</h3>
            <div class="call_to_action_buttons_wrapper">
              <div class="input-append">
                <input class="span4" id="appendedInputButton" placeholder="email" type="text">
                <button class="btn btn-sign-up" type="button">Newsletter</button>
              </div>
              <!-- <a class="btn btn-large btn-sign-up" href="#">Sign Up</a> <a class="btn btn-large" href="#">Learn More</a> -->
            </div>
          </div>
          <div class="span3">
            <div class="client"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="main_content_wrapper_bg">
    <div class="container">
      <div class="row-fluid">
        <div class="span12">
          <div class="main_content_wrapper">

            <div class="row-fluid">
              <div class="span4">
                <div class="content_padding">
                  <h3 class="hook_h3">For Realtors &amp; Home Buyers</h3>
                  <p class="hook_p">Imagine you are a realtor looking for a way to consolidate your daily activities. Managing clients, looking up listings and keeping up with everyone's needs and desires takes alot of time. </p>
                </div>
              </div>
                <div class="span4">
                  <div class="content_padding">
                    <h3 class="hook_h3">Centralize the Conversation</h3>
                    <p class="hook_p">In HomeFlare, many of the actions you can perform are tracked in a location called the conversation. For every client / agent relationship there is a conversation  page created where you can go to keep in touch with each other easily and quickly.</p>
                  </div>
                </div>
                <div class="span4">
                  <div class="content_padding">
                    <h3 class="hook_h3">Search, Share and Show</h3>
                    <p class="hook_p"> Follow HomeFlare through a tutorial that leads you through some features of HomeFlare. Learn more about HomeFlare by starting the conversation below.</p>
                  </div>
                </div>
                    <!-- <div class="content_padding">
                      <h3>Show</h3>
                      When it's time for a showing(s), let all party members -- you, the buyer, and the seller's agent -- stay informed with a HomeFlare Showing.</div>
                    </div> -->
                  </div>
                  <div class="row-fluid">
                    
                    <div class="span12">
                      <div class="row-fluid">

                        <div class="span12">
                          <a name="features"></a>
                          <h5 class="start_convo"><a href="#tut_begin">Start the Conversation ⇩</a></h5>
                          <a name="tut_begin"> </a> 
                        </div>
                      </div>

                      <div class="intro_chapter">
                        <div class="bigWelcome">Welcome to HomeFlare.</div>
                        <div class="smallWelcome">Get a taste of the future of Real Estate.</div>
                        <div class="tutorial intro_one">
                          <h4>HomeFlare User Interface</h4>
                          <p class="">Here's a sneak peak at what you will see when you log into HomeFlare.</p>
                        </div>
                        <div class="tutorial intro_two">
                          <h4>Logging in for the first time</h4>
                          <p class="">When you log into your HomeFlare account, you will be greeted with a series of useful recent information that can get you started. When you first create your account, however, you will need to add clients if you are a realtor or if you are a prospective buyer, you will need to link yourself to a real estate agent.</p>
                        </div>
                        <div class="tutorial intro_three">
                          <h4>Recent Activities &amp; Updates</h4>
                          <p class="">What happened since were gone is a list of actions that have been performed by others while you have been logged out. People flaring listings, personal messages and showings are some of the actions you will see listed here. Recent activities are actions that you performed yourself, like a history.</p>
                        </div>
                        <div class="tutorial intro_four">
                          <h4>Coming Up</h4>
                          <p class="">This space is reserved for showings that have been scheduled so you can be aware of your next upcoming viewing for a property. You can elect to get supplemental notifications via email and text. </p>
                        </div>
                        <div class="splash_img"></div>
                      </div>
                      <div class="row-fluid">


                        <div class="span10">

                          <div class="contact_profile_sub_header">Conversation</div>

                        </div>
                      </div>
                      
                      <div class="row-fluid">
                        <div class="span2">
                          <div class="tabbable tabs-left ">
                            <ul class="nav nav-tabs scroll_trigger">
                            <li>option1</li><li>option2</li><li>option3</li>
                            </ul>
                          </div> 
                        </div>
                        <div class="span10">

                          <div class="contact_profile_conversation_wrapper">
                            <div class="contact_profile_conversation_timestamp">
                              10/25/2012
                            </div>

                            <div class="contact_profile_conversation_bundle_left">

                              

                              <div class="contact_profile_conversation_left">8:00am: <strong>Bob Smith linked you as their realtor</strong></div>


                              <div class="tutorial">
                                <div class="step_1">
                                  <h4>Step 1: Bringing in contacts / clients <a href="#top" class="to_top">Top ^</a></h4>
                                  <p>
                                    This is one of the first and most important things you will do once you start using HomeFlare. For every Realtor there will be many clients, and for each client or realtor there will be a page that will look similar to this that keeps track of dialogue, statistics, listings and showings shared between the two.
                                  </p>
                                  <p>
                                    Another alternative to a client linking a realtor would be the opposite. 
                                  </p>
                                </div>
                              </div>
                              

                              <div class="contact_profile_conversation_left_flare">9:30am: <strong><a href="#">1234 Massachusetts Ave Orlando, FL 32801</a></strong></div>
                            </div>
                            
                            <div class="contact_profile_conversation_bundle_right">
                              <div class="tutorial">
                                <div class="step_2">
                                  <h4><span class="arrow leftPos">⇑</span> Conversation Items <a href="#top" class="to_top">Top ^</a></h4>
                                  <p>
                                    The information on the left will always show information from another individual. Information posted on the right is your own.<span class="arrow rightPos"> ⇘</span>
                                  </p>
                                  <p>
                                    Another alternative to a client linking a realtor would be the opposite. 
                                  </p>
                                </div>
                              </div>
                              <div class="contact_profile_conversation_right_flare"><strong> <a href="#">3 listings</a> </strong> :10:10am</div>
                              <div class="tutorial">
                                <div class="step_2">
                                  <h4>Listing Posts <a href="#top" class="to_top">Top ^</a></h4>
                                  <p>
                                    This is an example of what happens when listings get flared to a client or realtor. Once it gets here you can decide what to do with it. Click to view details and if you really like it, you can choose to set up a showing to see it in person with your realtor.
                                  </p>
                                  
                                </div>
                              </div>
                            </div>
                            <div class="contact_profile_conversation_bundle_left">

                              <div class="contact_profile_conversation_left">8:00am: <strong>"I don't like the idea of living on a busy street"</strong></div>
                            </div>
                            <div class="contact_profile_conversation_bundle_right">

                              <div class="contact_profile_conversation_right"><strong>"Okay, how about a cul de sac?" </strong>:10:10am - 10/26/2012</div>
                              <div class="contact_profile_conversation_right_flare"><strong><a href="#">25 Nautica Mile Drive Winter Garden, FL</a></strong> :10:10am</div>
                            </div>
                            <div class="contact_profile_conversation_bundle_left">

                              <div class="contact_profile_conversation_left">8:00am: <strong>"Yes. Can you show me a few more houses like that? Thanks"</strong></div>
                            </div>
                            <div class="contact_profile_conversation_bundle_right">

                              <div class="contact_profile_conversation_right_flare"><strong><a href="#">4 listings</a></strong> :10:10am</div>
                              <div class="contact_profile_conversation_right_flare"><strong> <a href="#">3 listings</a> </strong> :10:10am</div>
                            </div>
                            <div class="contact_profile_conversation_bundle_left">

                              <div class="contact_profile_conversation_left">3:00pm: <strong>"I don't like the idea of living on a busy street"</strong></div>
                            </div>
                            <div class="contact_profile_conversation_bundle_right">


                              <div class="contact_profile_conversation_right"><strong>"Okay, how about a cul de sac?" </strong>:10:10am</div>
                              <div class="contact_profile_conversation_right_flare"><strong><a href="#">25 Nautica Mile Drive Winter Garden, FL</a></strong> :10:10am</div>
                            </div>
                            <div class="contact_profile_conversation_bundle_left">

                              <div class="contact_profile_conversation_left">8:00am: <strong>"Yes. Can you show me a few more houses like that? Thanks"</strong></div>
                            </div>
                            <div class="contact_profile_conversation_bundle_right">

                              <div class="contact_profile_conversation_right_flare"><strong><a href="contact_flare.html">4 listings</a></strong> <a id="most_recent">:10:10am</a></div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                    <div class="span2"></div>
                  </div>
  
<%= render 'shared/footer' %>

</body>
</html>