<!DOCTYPE html>
<html>
<header>
  <title>HomeFlare - The simplest way to Search, Share and Show listings.</title>
  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js' %>
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js' %>
  <%= stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Istok+Web:400,700,400italic", "application", :media => "all" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</header>
<body>

<%= render 'shared/header' %>



<!--<%= yield %> -->

  <div class="nav_icons">
    <div class="searchCont">
      <i class="icon-search"></i>
    </div>
    <div class="shareCont">
      <i class=""></i>
    </div>
    <div class="showCont">
    </div>
  </div>

<div class="intro_wrapper">
  
  <div class="call_to_action_wrapper">
    <div class="container">
      <div class="row-fluid">
        <div class="span12">
          <div class="span3">
            <div class="realtor"></div>
          </div>
          <div class="span6">
            <h2>The Simplest Way</br><span class="h2_override">to Search, Share, and Show</span></h2>
            <h3>HomeFlare is a real-time communication tool</br> for Realtors and Home Buyers</h3>
          </div>
          <div class="span3">
            <div class="client"></div>
          </div>
          <div class="row-fluid">
            <div class="span12">
              <div class="call_to_action_buttons_wrapper">
                <a class="btn btn-large btn-sign-up" href="#">Sign Up</a> <a class="btn btn-large" href="#">Learn More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="main_content_wrapper_bg">
    <div class="container">
      <div class="row-fluid">
        <div class="span12">
          <div class="main_content_wrapper">

            <div class="row-fluid">
              <div class="span4">
                <div class="content_padding">
                  <h3>Search</h3>
                  Save time using smart searches that autofill based on your client's wishlist. Independent client wishlist, realtor wishlist. Learn your client with click and search activity notifications. </div>
                </div>
                <div class="span4">
                  <div class="content_padding">
                    <h3>Share</h3>
                    Quick one-click listing sharing (flare). Stay informed. Know when flared listings have been viewed by your clients. Fluid conversation keeps you and client on same page.</div>
                  </div>
                  <div class="span4">
                    <div class="content_padding">
                      <h3>Show</h3>
                      When it's time for a showing(s), let all party members -- you, the buyer, and the seller's agent -- stay informed with a HomeFlare Showing.</div>
                    </div>
                  </div>
                  <div class="row-fluid">
                    <div class="span2"></div>
                    <div class="span8">
                      <div class="row-fluid">
                        <div class="span12">
                          <h5 class="start_convo">Start the Conversation</h5>
                        </div>
                      </div>
                      <div class="row-fluid">
                        <div class="span12">
                          <div class="contact_profile_sub_header">Conversation</div>
                        </div>
                      </div>
                      <div class="row-fluid">
                        <div class="span12">
                          <div class="contact_profile_conversation_wrapper">
                            <div class="contact_profile_conversation_timestamp">
                              10/25/2012
                            </div>
                            <div class="contact_profile_conversation_bundle_left">
                              <div class="contact_profile_conversation_left">8:00am: <strong>Bob Smith linked you as their Realtor</strong></div>
                              <div class="contact_profile_conversation_left_flare">9:30am: <strong><a href="#">1234 Massachusetts Ave Orlando, FL 32801</a></strong></div>
                            </div>
                            
                            <div class="contact_profile_conversation_bundle_right">
                              <div class="contact_profile_conversation_right_flare"><strong> <a href="#">3 listings</a> </strong> :10:10am</div>
                            </div>
                            <div class="contact_profile_conversation_bundle_left">

                              <div class="contact_profile_conversation_left">8:00am: <strong>"I don't like the idea of living on a busy street"</strong></div>
                            </div>
                            <div class="contact_profile_conversation_bundle_right">

                              <div class="contact_profile_conversation_right"><strong>"Okay, how about a cul de sac?" </strong>:10:10am - 10/26/2012</div>
                              <div class="contact_profile_conversation_right_flare"><strong><a href="#">25 Nautica Mile Drive Winter Garden, FL</a></strong> :10:10am</div>
                            </div>
                            <div class="contact_profile_conversation_bundle_left">

                              <div class="contact_profile_conversation_left">8:00am: <strong>"Yes. Can you show me a few more houses like that? Thanks"</strong></div>
                            </div>
                            <div class="contact_profile_conversation_bundle_right">

                              <div class="contact_profile_conversation_right_flare"><strong><a href="#">4 listings</a></strong> :10:10am</div>
                              <div class="contact_profile_conversation_right_flare"><strong> <a href="#">3 listings</a> </strong> :10:10am</div>
                            </div>
                            <div class="contact_profile_conversation_bundle_left">

                              <div class="contact_profile_conversation_left">3:00pm: <strong>"I don't like the idea of living on a busy street"</strong></div>
                            </div>
                            <div class="contact_profile_conversation_bundle_right">


                              <div class="contact_profile_conversation_right"><strong>"Okay, how about a cul de sac?" </strong>:10:10am</div>
                              <div class="contact_profile_conversation_right_flare"><strong><a href="#">25 Nautica Mile Drive Winter Garden, FL</a></strong> :10:10am</div>
                            </div>
                            <div class="contact_profile_conversation_bundle_left">

                              <div class="contact_profile_conversation_left">8:00am: <strong>"Yes. Can you show me a few more houses like that? Thanks"</strong></div>
                            </div>
                            <div class="contact_profile_conversation_bundle_right">

                              <div class="contact_profile_conversation_right_flare"><strong><a href="contact_flare.html">4 listings</a></strong> <a id="most_recent">:10:10am</a></div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                    <div class="span2"></div>
                  </div>
  
<%= render 'shared/footer' %>

</body>
</html>